#Title {
  text-align: center;
  margin-bottom: 50px;
}

.BookendParent {
  display: flex;
}

.Bookend {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 50px;
  padding: 5px 5px 5px 5px;
}

.SaveAndLoad {
  display: flex;
}

.SearchBar {
  text-align: right;
}

table {
  width: 100%;
}

th {
  text-align: left;
  font-size: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 1;
  padding: 50px;
}
#closeButton {
  position: fixed;
  background: none;
  border: none;
  top: 5px;
  right: 5px;
  font-weight: bold;
  font-size: 20px;
}

#SpecialRowHeader {
  font-weight: bold;
}
.SpecialRow {
  padding-top: 16px;
}